/*Page header*/

.navbar {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.home-button {
    flex: 30;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
}

.cart-button {
    flex: 1;
}

.menu {
    display: flex;
    padding: 20px 0px 30px 0px;
}

.menu div {
    font-size: 0.85rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu-item {
    flex: 1;
}

.menu-space {
    flex: 1.5;
}

/*home page categories section*/
.main-container{
     padding: 10px 40px 10px 40px; 
}
.categories-item{
    display: flex;
    flex-direction: column;
}
 .category-image img{
    max-width: 100%;
}
.categories-item div{
    text-align: center;
    padding: 20px 0px 20px 0px; 
}
.tshirts{
    display: flex;
} 
.tshirt-item .category-image{
    height: 18rem;
}
.tshirt-item div{
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.tshirt-item{
    flex: 1;
}
.tshirt-item img{
    height: 100%;
}